<li class="nav-dropdown-container">
  <a class="nav-link">Community</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li>
      <a
        href="https://github.com/transloadit/bulky"
        class="nav-link"
        rel="noreferrer noopener"
        target="_blank"
        >GitHub</a
      >
    </li>
    <li>
      <a
        href="https://gitter.im/transloadit/bulky"
        class="nav-link"
        rel="noreferrer noopener"
        target="_blank"
        >Chat</a
      >
    </li>
    <li>
      <a
        href="https://twitter.com/bulky_io"
        class="nav-link"
        rel="noreferrer noopener"
        target="_blank"
        >Twitter</a
      >
    </li>
  </ul>
</li>
